$icon-font-path: "../../node_modules/bootstrap-sass/assets/fonts/bootstrap/" ;

@import './variables.scss';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

.color-swatch-box{
    border: 0.5px outset $gray-lighter;
    border-radius: 5px;
    .panel-body{
        padding-top: 0px !important;
        height: 100%;
        .color-section {
            height: 80%;
        }
        .name-section{
            height: 20%;
        }
    }
    .panel-content{
        height: 100%;
    }
    .panel-text{
        padding: 5px
    }
}

